<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="db.mybatis.mapper.rankItemsMapper">
    <select id="getRank" resultMap="RankMap">
        select goods.name as goods_name,
        (case when sum(o.price * o .quantity) is null then 0 else sum(o.price * o .quantity) end) as total_price
        from `order` o right
        join goods
        on goods.id = o.goods_id
        group by goods.id order by total_price desc

    </select>

    <resultMap id="RankMap" type="com.github.hcsp.Moudle.RankItem">
        <result property="goodsName" column="goods_name"/>
        <result property="totalPrice" column="total_price"/>
    </resultMap>
</mapper>
