<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.dao.OrderMapper">
    <select id="selectRank" resultType="com.github.hcsp.entity.RankItem">
        select a.name goods_name, b.amount amount
        from goods a left join
            (select goods_id, sum(price*quantity) amount from `order` group by goods_id) b
        on  a.id = b.goods_id
        order by amount desc;
    </select>

</mapper>