<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.RankMapper">
    <select id="queryRankItems" resultMap="rankItemResultMap">
        select sum_table.goods_id, sum_table.total_price, g.name
        from (select goods.id as goods_id, sum(price * quantity) as total_price
              from goods
                       left join `order` o on goods.id = o.goods_id
              group by goods.id) sum_table
                 inner join goods g on id = sum_table.goods_id
        order by total_price desc;
    </select>
    <resultMap id="rankItemResultMap" type="com.github.hcsp.entity.RankItem">
        <result property="totalPrice" column="total_price"/>
        <association property="good" javaType="com.github.hcsp.entity.Good">
            <result property="id" column="goods_id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
</mapper>