<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MallMapper">
    <select id="getGoodAmountRank" resultType="com.github.hcsp.entity.GoodRank">
select g.name , ifnull(o.amount,0) amount from goods g left join
(select `order`.goods_id,  sum(`order`.price * `order`.quantity) amount from `order`
group by `order`.goods_id
) o on g.id = o.goods_id order by o.amount desc;
    </select>
</mapper>