<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper">
    <select id="selectOrderRank" resultType="com.github.hcsp.entities.RankItem">
        select goods_name, sum(sum_price) as total_price
        from (select g.name as goods_name, COALESCE(price * quantity, 0) as sum_price
              from `order`
                       right join goods g on `order`.goods_id = g.id) t
        group by goods_name
        order by total_price desc;
    </select>
</mapper>