<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyMapper">
    <select id="selectRanks" resultMap="rankItem">
        select g.name as goods_name, g.id as goods_id, turnover
        from goods g
                 left join (select goods_id, sum(price * quantity) as turnover from `order` group by goods_id) t
                           on t.goods_id = g.id
        order by turnover desc;
    </select>
    <resultMap id="rankItem" type="com.github.hcsp.mall.entity.RankItem">
        <result property="turnover" column="turnover"/>
        <association property="goods" javaType="com.github.hcsp.mall.entity.Goods">
            <result property="id" column="goods_id"/>
            <result property="name" column="goods_name"/>
        </association>
    </resultMap>
</mapper>