<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RankMapper">
    <select id="selectRank" resultType="com.github.hcsp.entity.GoodsRank">
        select goods.NAME as good_name, t.total as total
        from (
                 select goods_id,
                        sum(price * quantity) as total
                 from `order`
                 group by goods_id
             ) t

                 right join goods on goods.id = t.goods_id
        order by total desc
    </select>


</mapper>