<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RankMapper">
  <select id="getRank" resultMap="rankMap">
        SELECT u.id AS goods_id, u.name, (case when result.total_price is null then 0 else result.total_price END) AS total_price from (
        SELECT t.goods_id, SUM(t.order_price) as total_price from (
        SELECT goods_id, (price * quantity) as order_price from `order`
        )t
        GROUP BY t.goods_id
        ) result
        RIGHT JOIN goods u ON u.id = result.goods_id
        ORDER BY result.total_price DESC
    </select>

  <resultMap id="rankMap" type="com.github.hcsp.entity.Rank">
    <result property="totalPrice" column="total_price"/>
    <association property="goods" javaType="com.github.hcsp.entity.Goods">
      <result property="id" column="goods_id"/>
      <result property="name" column="name"/>
    </association>
  </resultMap>
</mapper>
