<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.RankMapper">
    <select id="selectGoodsSalesRank" resultType="com.github.hcsp.entity.GoodsSalesRankItem">
        select sum(`order`.price * `order`.quantity) as sales, goods_id as goodsId, goods.name as goodsName
        from `order`
                 join goods on goods.id = `order`.goods_id
        group by goods_id
        order by sales desc;
    </select>
</mapper>
