<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hcsp.dao.RankMapper">
    <select id="getRank" resultType="rank">
        SELECT    u.name,
       (case when result.price is null then 0 else result.price END) AS price
from (
         SELECT t.goods_id, SUM(t.order_price) as price
         from (
                  SELECT goods_id, (price * quantity) as order_price
                  from `order`
              ) t
         GROUP BY t.goods_id
     ) result
         RIGHT JOIN goods u ON u.id = result.goods_id
ORDER BY result.price DESC;
    </select>
</mapper>